#caja-flotante{
    height: auto;
    right: 0;
}
#barra-fija{
    top: 0;
    right: 0;
}
#cabecera{
    padding-top: 40px;
    width: 100%;
    height: 100%;
}

#bloques {margin: 0;}

.bloque-insertar {
overflow-y: auto;
max-height: 350px;
min-width: 350px;
}

.bloque-insertar .block {border: none;}

.bloque-insertar .block .calendartable {min-height: 120px;}

.navbar-inner {
    line-height: 15px;
}
// cambios en el bloque calendario
.calendar-event-panel .yui3-overlay-content h2.eventtitle {
    font-size: 17px;
}
.calendar-event-panel .eventcontent{
    font-size: 14px;
}
.calendar-controls {
    color: black;
    font-weight: bold;
    background-color: #F5FA8C;
    border-radius: 10px;        
}
.calendar-controls a {
    text-decoration: none;
    text-align: center !important;
    font-size: 15pt;
    padding-top: 20px;
}
.calendar_event_user{
    background-color: #E3EB4E;
}
.calendar_event_user a{
    text-decoration: none;
}

.pageContentUdc{
    background-color: #FDFFBC;
    border-radius: 30px;
    padding: 30px 5px 15px 5px;
}

.linksRastro{
    background-color: #30add1;
    border-radius: 3px; 
    margin-top: -21px;
    display: inline-block;
    position: fixed;
}
.linksRastro a{
    color: white;
    text-decoration: none;
    margin: 10px;    
}
.linksRastro span{
    color: white;    
}
.topics{
    background-color: #FDFFBC;
    margin-top: -20px !important;
}

.section-navigation span{
    background-color: #30add1;
    border-radius: 10px; 
    margin-top: -10px;
}
.section-navigation span a{
    color: white;
    text-decoration: none;
    margin: 10px;
}

#page-footer{
    border-radius: 18px;
}

.form-buttons{
    background-color: #EFF2AA;
    border-radius: 10px;
}
#fitem_id_submitbutton{
    background-color: #EFF2AA;
    border-radius: 10px;
}
#fgroup_id_buttonar{
    background-color: #EFF2AA;
    border-radius: 10px;
}
// cambios en el formulario del login
.loginpanel{
    width: 60%;
    margin-left: 20%;
    background-color: #FDFFBC;
}
.loginpanel h2{
    background-color: #EFF2AA;
    margin: -1px;
}