#caja-flotante{
    height: auto;
    right: 0;
}
#barra-fija{
    top: 0;
    right: 0;
}
#cabecera{
    padding-top: 40px;
    width: 100%;
    height: 100%;
}

#bloques {margin: 0;}

.bloque-insertar {
overflow-y: auto;
max-height: 350px;
min-width: 350px;
}

.bloque-insertar .block {border: none;}

.bloque-insertar .block .calendartable {min-height: 120px;}

.navbar-inner {
    line-height: 15px;
}

.calendar-event-panel .yui3-overlay-content h2.eventtitle {
    font-size: 17px;
}

.calendar-event-panel .eventcontent{
    font-size: 14px;
}

.linksRastro{
    background-color: #30add1;
    border-bottom-left-radius: 3px; 
    border-bottom-right-radius: 3px; 
    margin-top: -21px;
    display: inline-block;
    position: fixed;
}
.linksRastro a{
    color: white;
    text-decoration: none;
    margin: 10px;    
}
.linksRastro span{
    color: white;    
}
.section-navigation span{
    background-color: #30add1;
    border-radius: 10px; 
    margin-top: -10px;
}
.section-navigation span a{
    color: white;
    text-decoration: none;
    margin: 10px;
}

#page-footer{
    border-radius: 18px;
}